body{
  margin: 0;
  }

.wrapper{
  margin:auto;
  width: 80%;
  }

.header{
  display: flex;
  justify-content: space-between;
 }

.logo{
  margin-right: 63%;
  padding: 40px 0;
  }

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item{
  padding: 0 13px;
  justify-content: space-around;
  margin-right: 30px;
}

.menu-item:last-child{
  padding: 0;
}

.enter{
  opacity: 0;
}
.main-content__title {
font-family: 'Roboto', sans-serif;
}
